{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Clinic</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">

    <style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: 35%;
        margin-top: 10vh;
        height: 60vh;
        width: 320px;
    }
    .form-content {
        text-align: center;
    }

</style>

</head>
<body>
    <h1>Medical Clinic</h1>

        <!-- adding patient form -->
        <div class="form-container" >
            <div class="form-content">
            <form method="post">
                {% csrf_token %}
                <h2>Edit data:</h2>
                <h3>Personal data:</h3>
                {{ patient_form.as_p }}
                <h3>Address:</h3>
                {{ address_form.as_p }}
                <button type="submit" style="display: block; margin: 0 auto; font-size:16px;">Edit</button>
            </form>
            <hr>
        </div>
    </div>

    <script>
        function savePatientData(button) {
            var row = button.parentNode.parentNode;
            var firstName = row.cells[0].innerText.trim();
            var lastName = row.cells[0].innerText.trim();
            var pesel = row.cells[1].innerText.trim();
            var street = row.cells[2].querySelector('span').innerText.trim();
            var cityZip = row.cells[2].querySelectorAll('span')[1].innerText.trim().split(', ');
            var city = cityZip[0];
            var zipcode = cityZip[1];
            // saving changes in a database
        }

        function deletePatient(button) {
            var row = button.parentNode.parentNode;
            // delate patients
        }
    </script>
</body>
</html>
