{#<!-- patients/patient_edit.html -->#}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Edycja pacjenta</title>#}
{#</head>#}
{#<body>#}
{#    <h1>Edycja pacjenta</h1>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <h2>Dane pacjenta:</h2>#}
{#        {{ patient_form.as_p }}#}
{#        <h2>Adres:</h2>#}
{#        {{ address_form.as_p }}#}
{#        <button type="submit">Zapisz zmiany</button>#}
{#    </form>#}
{#</body>#}
{#</html>#}
